.course-lists-container{
    margin-block-start: 4rem;
}

.course-lists-container ul{
    list-style-type: none;
    padding: 0 2rem;
}

.course-lists-container ul li{
    border-radius: 10px;
    height: 150px;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-transform: initial;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 20px;
}

.course-image-container{
    flex: 0 0 100px;
    height: 100px;
    margin-right: 30px;
}

.course-image-container img{
    max-width: 100%;
    height: 100px;
}

.course-info-container{
    flex: 1;
}

.course-info-container p{
    font-size: 1.5rem;
}

.course-info-container p:not(:last-child){
    margin-bottom: 20px;
}

.course-info-container p .label{
    color: var(--primary-color);
    font-weight: bold;
}

.course-lists-container ul li{
    position: relative;
}

.course-lists-container ul li:hover{
    color: initial;
}

.course-lists-container ul li .status-badge{
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: lowercase;
    background-color: var(--green);
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.5rem;
}

