.wrapper-404{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-404{
    flex: 0 0 60%;
    text-align: center;
    border-radius: 10px;
    padding: 4rem 3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.number-404{
    font-size: 25rem;
    line-height: 0.8;
    margin-bottom: 20px;
}

.whoops{
    font-size: 3rem;
    margin-bottom: 10px;
}

.redirect-container p{
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 2rem;
}

.redirect-container a{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    width: 50%;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}
