/* FOOTER START */

footer{
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 3rem;
}

footer .row{
    display: flex;
    justify-content: space-around;
}

footer .container .row .col{
    flex: 0 0 30%;
}

.footer-text{
    font-size: 1.5rem;
}

.social-media-links{
    list-style-type: none;
}

.social-media-links li{
    display: inline-block;
}

.social-media-links li:not(:last-child){
    margin-right: 10px;
}

.social-media-links li a{
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    width: 100%;
    height: 100%;
}

footer .footer-copyright{
    padding: 2rem 1rem;
    font-size: 1.5rem;
}

/* FOOTER END */
